* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--tt-color);
}

/* CONTAINER   ======================= */
.container {
  position: fixed;
  width: 100%;
  min-width: 300px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.container .backimg {
  position: absolute;
  opacity: .1;
}

/* FAKE LOADED ======================= */
.fakeload {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(50, 5px);
  gap: 2px;
}

.fakeload .square {
  width: 5px;
  height: 5px;
  background: #999;
  opacity: 0.3;
  transition: .3s;
}




.t-container {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}