#terminal {
    position: relative;
    padding: 20px 10px;
    width: 330px;
    height: 100%;
    overflow: hidden;
}

#terminal img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .1;
    object-fit: cover;
}